
@{
    ViewBag.Title = "DangKyThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bạn đã đăng ký thành công!!!</h2>
@Html.ActionLink("< Gửi mẫu đăng ký khác", "Index/", "DangKyThi")
<hr>
@Html.ActionLink("< Trở về gia diện chính", "Index/", "Home")

